@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Josefin Sans;
}

.hero {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.20fr 0.80fr;
    grid-template-areas: "hero__text hero__image";
}

.hero__text {
    grid-area: hero__text;
}

.hero__image {
    grid-area: hero__image;
    background-image: url('/images/hero-desktop.jpg');
    background-size: cover;
}

.arrow {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}